html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 1px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin: 0;
	padding: 0;	
}
ul, ol{
	list-style: none;
}
li{
	vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
/*
textarea{
	resize: none;
}
*/
.mp{
	margin: 0;
}
.pm{
	margin: 0;
}
.hides{
	display: none;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-static-top{
	border: 0;
}
.navbar-default .navbar-nav > li{
	border-radius: 2px;
	border: 1px solid transparent;
/*
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);	
*/
}
.navbar-default .navbar-nav > li.active{
	border: 1px solid #a1a1a1;
	border-radius: 2px;
}
.navbar-default .navbar-nav > li.arw:hover{
	border: 1px solid transparent;
	background: #000;
}
.navbar-default .navbar-nav > li:hover{

}
.navbar-default .navbar-nav > li.arw:hover{
	border: 1px solid transparent;
	background: #000;	
}
.navbar-default .navbar-nav > li > a{
/*    background-color: transparent;*/
	text-shadow: none;	
	display: block;
	text-transform: uppercase;
	text-align: center;
	padding: 4px 15px 4px;
	font-family: 'OpenSans';
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	color: #fff;
/*
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -o-transform: skew(15deg);
    -ms-transform: skew(15deg);
    transform: skew(15deg);	
*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
}
.navbar-default .navbar-nav > li.arw{
	padding-top: 2px;
}
.navbar-default .navbar-nav > li.arw > a{
	padding-bottom: 22px;
	padding-bottom: 4px;
	padding: 2px 15px 8px;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	text-shadow: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
}
.navbar-default .navbar-nav >.active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
	text-shadow: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
} 
.cc1 .navbar-default .navbar-nav > li > a,
.cc1 .navbar-default .navbar-nav > li > a:focus,
.cc1 .navbar-default .navbar-nav >.active > a, 
.cc1 .navbar-default .navbar-nav > .active > a:focus {
    color: #000;	
}
.cc1 .navbar-default .navbar-nav > li.arw > a:hover{
	color: #fff;
}
.cc1 .navbar-default .navbar-nav > li.active {
    border: 1px solid #000;
}
.cc1 .sc_panel .navbar-default .navbar-nav > li > a,
.cc1 .sc_panel .navbar-default .navbar-nav > li > a:focus,
.cc1 .sc_panel .navbar-default .navbar-nav >.active > a, 
.cc1 .sc_panel .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;	
}
.cc1 .sc_panel .navbar-default .navbar-nav > li.arw > a:hover{
	color: #fff;
}
.cc1 .sc_panel .navbar-default .navbar-nav > li.active {
    border: 1px solid #a1a1a1;
}


.victory_pr .navbar-default .navbar-nav > li > a,
.victory_pr .navbar-default .navbar-nav > li > a:focus,
.victory_pr .navbar-default .navbar-nav >.active > a, 
.victory_pr .navbar-default .navbar-nav > .active > a:focus {
    color: #000;	
}
.victory_pr .navbar-default .navbar-nav > li.arw > a:hover{
	color: #fff;
}
.victory_pr .navbar-default .navbar-nav > li.active {
    border: 1px solid #000;
}
.victory_pr .sc_panel .navbar-default .navbar-nav > li > a,
.victory_pr .sc_panel .navbar-default .navbar-nav > li > a:focus,
.victory_pr .sc_panel .navbar-default .navbar-nav >.active > a, 
.victory_pr .sc_panel .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;	
}
.victory_pr .sc_panel .navbar-default .navbar-nav > li.arw > a:hover{
	color: #fff;
}
.victory_pr .sc_panel .navbar-default .navbar-nav > li.active {
    border: 1px solid #a1a1a1;
}
.navbar-default .navbar-nav > li > a > span{
/*
    color: #fff;
    background-color: transparent;
	font-family: 'OpenSans';
	font-weight: 600;
	font-size: 13px;
	line-height: 13px;
	display: inline-block;
	position: relative;
	z-index: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;	
*/
}
ul.navbar-nav{
	text-align: center;
	float: none;
	font-size: 0
}
.navbar-nav>li {
    float: none;
	display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-nav>li.active{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-nav>li:hover{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;		
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    box-shadow: none;
	border: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-nav {
    margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav>li>a {
    padding: 0 0 0 0;
}
.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border: 0px solid transparent;
}
input, textarea{
	width: 100%;
	cursor: text !important;
}
body .ui-tooltip {
	border-width: 0;
}
.btn{
	text-align: center;
	border: 1px solid #363636;	
	padding: 8px 20px;
	border-radius: 2px;
	position: relative;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
}
.btn span{
	display: inline-block;
	font-family: 'OpenSans';
	font-size: 28px;
	line-height: 28px;	
	color: #878787;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
}
.btn:hover{
	border: 1px solid #a1a1a1;	
    -webkit-transition: all 0.3s;
    transition: all 0.3s;	
}
a.btn:before, a.btn:after{
    -webkit-transform: skew(15deg);
    transform: skew(15deg);	
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
    outline: none;
    outline-offset: 0;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: none;
}
.clear:before, .clear:after{
	content: "";
	display: table;
} 
.clear:after{
	clear: both;
} 
a, a:hover, a:active, a:focus{
	text-decoration: none;
	outline: none;
}
h1{
	font-family: 'OpenSans';
    font-size: 35px;
    line-height: 35px;	
	color: #fff;
	font-weight: 300;
}
h4{
    font-size: 35px;
    line-height: 35px;
    color: #cecece;
    font-family: 'OpenSans';
    font-weight: 300;
}
h3{
	font-family: 'OpenSans';
	font-size: 45px;
	line-height: 45px;
	color: #878787;
}
.cbp-hrmenu {
	width: 100%;
}
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	margin: 0 auto;
	padding: 0;
    width: 1040px;
    margin: auto;	
}
.cbp-hrmenu > ul > li {
	display: inline-block;
	position: static;
}
.cbp-hrmenu > ul > li > a {
	display: inline-block;
}
.cbp-hrmenu > ul > li > a:hover {
}
.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
}
.cbp-hrmenu .cbp-hrsub {
	display: none;
/*	display: block;*/
	position: absolute;
	background: rgba(0,0,0, 0.95);
	width: 100%;
	left: 50px;
	padding: 60px 0 80px;
/*	opacity: 0;	*/
}
.cbp-hropen .cbp-hrsub.open {
/*	display: block;*/
}
.cbp-hrsub.open{
/*	opacity: 1;	*/
}
.cbp-hrmenu .cbp-hrsub-inner > div {
	width: auto;
    float: none;
    padding: 0;
}
.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}
.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}
.cbp-hrmenu .cbp-hrsub-inner ul li{
	display: inline-block;
	margin: 0 40px;
}
.cbp-hrmenu .cbp-hrsub-inner ul li:first-child{
	margin-left: 0;
}
.cbp-hrmenu .cbp-hrsub-inner ul li:last-child{
	margin-right: 0;
}
.cbp-hrmenu .cbp-hrsub-inner ul li a {
	font-size: 15px;
	line-height: 21px;
	font-family: 'OpenSans';
	position: relative;
	display: inline-block;
	font-weight: normal;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul.hd{
	display: none;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li a{
	padding-top: 70px;	
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li a:before{
	content: "";
	width: 66px;
	height: 46px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;	
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li:first-child a:before{
	background: url('../images/i44.png') no-repeat 0 0;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li:nth-child(2) a:before{
	background: url('../images/i53.png') no-repeat 0 0;
	width: 82px;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li:nth-child(3) a:before{
	background: url('../images/i45.png') no-repeat 0 0;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li:nth-child(4) a:before{
	background: url('../images/i51.png') no-repeat 0 0;
}
.cbp-hrmenu ul.nav > li:nth-child(3) .cbp-hrsub .cbp-hrsub-inner ul li:last-child a:before{
	background: url('../images/i52.png') no-repeat 0 0;
}
.cbp-hrmenu ul.nav li:nth-child(3) .cbp-hrsub-inner div{

}
.cbp-hrmenu ul.nav li:nth-child(3) .cbp-hrsub-inner div li a{
	display: block;
/*	width: 210px;*/
    color: rgba(255, 255, 255, 0.8);
    margin: 15px 0 0;
	padding-bottom: 15px;
	position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;	
}
.cbp-hrmenu ul.nav li:nth-child(3) .cbp-hrsub-inner div li a:hover{
	color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;	
}


.btns_in_arrow{
    position: relative;
    margin: 0 auto;
    width: 302px;	
}
.btns_in_arrow a.btn{
	width: 285px;
}
.btns_in_arrow .hamburger {
    margin: 0 0 0 155px;
}
.btns_in_arrow span{
	position: relative;
    font-family: 'OpenSans';
    font-size: 19px;
    line-height: 19px;
    left: -15px;
    top: 37px;
	color: #0d0e0f;
	font-weight: 300;
}
.blc_our_projectsW .btns_in_arrow span{
	color: #f4f4f4;
}


/*
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li>a {
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/
